CREATOR_ID=12345
BOT_TOKEN=123456:your-telegram-bot-token
BOT_USERNAME=your_bot_username
OPENAI_API_KEY=sk-proj-your-openai-api-key

POSTGRESQL_HOST=postgres
DATABASE_NAME=aibot_db
DATABASE_USER=aibot
DATABASE_PASSWORD=supersecretpassword
